
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#paddleL {
  background-color: paleturquoise;
  width: 8px;
  height: 60px;
  border-radius: 25%;
  position: absolute;
  left: 25px;
  top: 175px;  
}

#paddleR {
  background-color: lightcoral;
  width: 8px;
  height: 60px;
  border-radius: 25%;
  position: absolute;
  left: 400px; 
  top: 175px;  
}
#pongBall {
  background-color: whitesmoke;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 10px;
  left: 212.5px; 
  top: 200px;  
}